body{
  font-family: 'Yusei Magic', sans-serif;
}
.title{
  text-align: center;
  font-size: 30px;
  padding: 15px;
}
.left,
.middle,
.right{
  text-align: center;
  margin-top: 30px;
  padding: 30px;
  font-size: 20px;
}
.left img,
.middle img,
.right img{
  height: 200px;
}
.left h3,
.middle h3,
.right h3{
  margin: 20px 0;
}
.title-2,
.title-3{
  text-align: center;
  font-size: 30px;
  padding: 15px;
  margin-top: 40px;
}
.blue-img{
  background-color: #428bca;
  border-radius: 50%;
  padding: 10px;
}
/* Responsive */
@media screen and (max-width: 767px){
  body{
    background-color: #FF6F61;
  }
  .title,
  .title-2,
  .title-3{
    color: white;
  }
  .left,
  .middle,
  .right{
    font-size: 17px;
    color: white;
  }
  .borded{
    border-bottom: 1px solid lightgrey;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px){
  body{
    background-color: #88B04B;
    color: white;
  }
  .title
  .title-2,
  .title-3{
    color: white;
  }
  .left,
  .middle,
  .right{
    font-size: 17px;
    color: white;
  }
}
@media screen and (min-width: 992px){
  body{
    background-color: #92A8D1;
  }
}
/* /Responsive */
